.App {
  
  height: 400px;
  width: 400px;
  margin-left: 40%;
  padding-top: 100px;
  
 
}

body{
  background: url('./res/nasa.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin: 0px;
  
}


img{
  
  border-radius: 200px;
  width:50%;


}

h1{
  align-items: center;
  margin-left: 60px;
  justify-content: center;
  font-family: 'Arvo', serif;
  color:whitesmoke;
  font-size: large;
 
}

p{

  align-items: left;
  margin-left: -75px;
  justify-content: center;
  font-size: large;
  font-family: 'pacifico',cursive;
  color:black;
}


.icon{
  justify-content: center;
  align-items: center;
}